#original {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:cornflowerblue;
  margin: 10px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}


#cipher {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:darkseagreen;
  margin: 10px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}

body {
  background-color: black;
}

#flashy {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: limegreen;
}

@keyframes flash {
  from {
    opacity: 0;
    margin-left: 0%;
    width: 100%;
  }

  to {
    opacity: 1;
    margin-left: 40%;
    width: 50%;
  }
}